<div [ngClass]="{'sign-in-js': sign == 1, 'sign-up-js': sign == 2 }">

    <div class="cadastro-container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">welcome back!</h2>
                <p class="description description-primary">To keep connected with us</p>
                <p class="description description-primary">please login with your personal info</p>
                <button (click)="sign = 1" id="signin" class="btn btn-primary">sign in</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">create account</h2>

                <p class="description description-second">or use your email for registration:</p>
                <div class="form">
                    <label class="label-input" for="">

                        <input type="text" placeholder="Name" />
                    </label>

                    <label class="label-input" for="">

                        <input type="email" placeholder="Email">
                    </label>

                    <label class="label-input" for="">

                        <input type="password" placeholder="Password" />
                    </label>


                    <button  class="btn btn-second">sign up</button>
                </div>
            </div><!-- second column -->
        </div><!-- first content -->
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title title-primary">hello, friend!</h2>
                <p class="description description-primary">Enter your personal details</p>
                <p class="description description-primary">and start journey with us</p>
                <button (click)="sign = 2" id="signup" class="btn btn-primary">sign up</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">sign in to developer</h2>
                <p class="description description-second">or use your email account:</p>
                <div class="form">

                    <label class="label-input" for="">

                        <input [(ngModel)]="requestLogin.login" type="text" placeholder="Name" />
                    </label>

                    <label class="label-input" for="">

                        <input [(ngModel)]="requestLogin.password" type="password" placeholder="Password" />
                    </label>

                    <a class="password" href="#">forgot your password?</a>
                    <button (click)="doLogin()" class="btn btn-second">sign in</button>
                </div>
            </div><!-- second column -->
        </div><!-- second-content -->
    </div>
</div>