<div class="flex flex-col h-full">


    <div class="flex">
        <div class="box-top text-center w-1/4 mr-5 p-4">
            <p class="box-title">Uderesolved</p>
            <p class="box-number">60</p>
        </div>
        <div class="box-top text-center w-1/4 mr-5 p-4">
            <p class="box-title">Uderesolved</p>
            <p class="box-number">60</p>
        </div>
        <div class="box-top text-center w-1/4 mr-5 p-4">
            <p class="box-title">Uderesolved</p>
            <p class="box-number">60</p>
        </div>
        <div class="box-top text-center w-1/4 p-4">
            <p class="box-title">Uderesolved</p>
            <p class="box-number">60</p>
        </div>


    </div>
    <div class="main flex mt-10 flex-1">
        <div class="box-grafico w-3/4">
            Grafficos

        </div>
        <div class="w-1/4 text-center">
            <div class="box-main p-4">
                <p class="box-title">Uderesolved</p>
                <p class="box-number">60</p>

            </div>
            <div class="box-main p-4">
                <p class="box-title">Uderesolved</p>
                <p class="box-number">60</p>

            </div>
            <div class="box-main p-4">
                <p class="box-title">Uderesolved</p>
                <p class="box-number">60</p>

            </div>
            <div class="box-main p-4">
                <p class="box-title">Uderesolved</p>
                <p class="box-number">60</p>

            </div>
            <div class="box-main p-4">
                <p class="box-title">Uderesolved</p>
                <p class="box-number">60</p>

            </div>

        </div>


    </div>