<div class="md:hidden p-4">
    <div [ngClass]="{ 'ativado ' : openBot}">
        <div className="flex  ">
            <button (click)="openBot = !openBot">
                <span class="hamburguer"></span>
            </button>

        </div>
    </div>
</div>

<div [ngClass]="{ 'hidden md:block' : openBot == false }">
    <nav class="bg-content h-screen">

        <div class="">

            <div class="flex
            justify-center text-gray-300">
                <h1>Deshboard Kit</h1>
            </div>
            <div class="teste">
                <div class="teste__1 flex pl-7">
                    <img class="w-5 text-blue-400" src="../../../assets/img/ticket.svg" alt="">
                    <button class="p-4 text-gray-300">Tickets</button>
                </div>
            </div>
            <div class="teste">
                <div class="teste__1 flex pl-7">
                    <img class="w-4" src="../../../assets/img/ideas.svg" alt="">
                    <button class="p-4 text-gray-300">Ideas</button>
                </div>
            </div>
            <div class="teste">
                <div class="teste__1 flex pl-7">
                    <img class="w-5" src="../../../assets/img/contacts.svg" alt="">
                    <button class="p-4 text-gray-300">Cantacts</button>
                </div>
            </div>
            <div class="teste">
                <div class="teste__1 flex pl-7">
                    <img class="w-5" src="../../../assets/img/agents.svg" alt="">
                    <button class="p-4 text-gray-300">Agents</button>
                </div>
            </div>
            <div class="teste">
                <div class="teste__1 flex pl-7">
                    <img class="w-5" src="../../../assets/img/articles.svg" alt="">
                    <button class="p-4 text-gray-300">Articles</button>
                </div>
            </div>
        </div>

        <div>
            <span class="rico"></span>
        </div>
    </nav>

</div>