<nav class="bg-content h-screen">
    <div class="pl-5">

        <div class="">
            <h1>Deshboard Kit</h1>
        </div>
        <div class="flex">
            <img src="../../../assets/img/youtube.svg" alt="">
            <button class="p-4">Tickets</button>
        </div>
        <div class="flex">
            <img src="../../../assets/img/youtube.svg" alt="">
            <button class="p-4">Ideas</button>
        </div>
        <div class="flex">
            <img src="../../../assets/img/youtube.svg" alt="">
            <button class="p-4">Cantacts</button>
        </div>
        <div class="flex">
            <img src="../../../assets/img/youtube.svg" alt="">
            <button class="p-4">Agents</button>
        </div>
        <div class="flex">
            <img src="../../../assets/img/youtube.svg" alt="">
            <button class="p-4">Articles</button>
        </div>
    </div>


</nav>