:root {
    --primary: 161, 54, 112;
    --secondary: 236, 65, 118;
    --tertiary: 84, 56, 132;
    --additional: 255, 184, 0;
    --neutral: 38, 34, 84;
    --gray-1: 242, 242, 242;
    --gray-2: 124, 124, 124;
    --link: 70, 94, 255;
}
